:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
  --color-background-layer: rgba(52, 115, 160, 0.6);
  --border-dark: 1px solid black;
  --border-light: 1px solid white;
}