* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* SET BODY FONT, BG COLOR, AND FONT COLOR */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
}


/* ---------------- HEADER ------------------ */
header {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary);
  position: relative;
}
/* HEADER - H1 */
header h1 {
  background-color: var(--secondary);
  color: var(--tertiary);
  min-width: 23%;
  padding: 10px;
  margin-bottom: 10px;
}
/* HEADER/FOOTER - NAV BAR */
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}
/* HEADER - A */
.header-link {
  color: var(--secondary);
  text-decoration: none;
}

/* HEADER - NAV BAR ANIMATION - creates a hidden background accessible with hover, changes font upon hover */
nav ul li {
  margin: 0 10px;
  padding: 0 7px 2px 7px;
  border-bottom: 2px solid var(--secondary);
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
  transition: all 0.25s ease-in;
}
nav ul li:hover {
  background-size: 100% 100%;
}
.header-link:hover {
  color: var(--primary);
}


/* ---------------- HERO IMAGE ------------------ */
#banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  min-height: 150px;
  position: relative;
}
#banner .shading {
  display: block;
  background-color: var(--color-background-layer);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#banner h2 {
  position: absolute;
  background-color: var(--secondary);
  color: var(--tertiary);
  margin-right: 7%;
  padding: 7px;
}


/* ---------------- MAIN ------------------ */
main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

/* MAIN - SECTIONS - Styles each section */
.page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  min-height: 100px;
}

/* SECTIONS - LABEL - style each label H2 for the sections */
.section-label {
  font-size: 2.8em;
  text-align: center;
  min-height: 100%;
  margin-bottom: 10px;
}
/* LABEL - ELEMENTS - Styles the label for each project */
.content span {
  position: absolute;
  z-index: 1;
  background-color: var(--secondary);
  color: var(--tertiary);
  margin-top: 5%;
  padding: 7px;
}
#projects h2,
#projects p {
  margin: 0;
  padding-left: 10px;
}
#projects p {
  font-size: 0.85rem;
  margin-top: 6px;
}

/* SECTIONS - CONTENT - Style each content DIV for the sections */
.section-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
/* CONTENT - ELEMENTS - Style the elements for the content section */
#about-me {
  display: inline-block;
}
#about-me p {
  margin: 0 0 10px 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}
#about-me #profile-image {
  float: right;
  border-radius: 8px;
  height: 180px;
  width: 150px;
}
.content {
  position: relative;
  border: 3px solid var(--secondary);
  width: 100%;
  min-height: 150px;
  margin: 5px 0;
}
span #project-link {
  text-decoration: none;
  color: var(--tertiary);
}
/* CONTENT - BACKGROUND - Style the projects background Image */
#project-1 {
  background-image: url(../images/horiseon.jpg);
  background-size: cover;
}
#project-2 {
  background-image: url(../images/sea-to-table.jpg);
  background-size: cover;
}
#project-3 {
  background-image: url(../images/lumber-axe.jpg);
  background-size: cover;
}
#project-4 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
}
#project-5 {
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
}

/* ---------------- FOOTER ------------------ */
.footer-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer-ul li {
  margin: 10px 20px 0 20px;
  padding: 0 7px 2px 7px;
  border-bottom: 3px solid var(--primary);
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
  transition: all 0.25s ease-in;
}
/* FOOTER - NAV BAR ANIMATION - background color change when hover */
.footer-ul li:hover {
  background-size: 100% 100%;
}
.footer-link {
  font-size: 1.1em;
  color: var(--primary);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--light);
}
.margin-bottom {
  margin-bottom: 20px;
}



/* ------------------ LAYERS  ------------------ */
.layer {
  display: block;
  background-color: var(--color-background-layer);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* removes the layer when hovered over */
.layer:hover {
  transition: .5s ease;
  opacity: 0;
}



/* ---------------- MEDIA QUERIES ------------------ */
@media screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  header h1 {
    text-align: end;
  }
  nav {
    margin-right: 7%;
  }
  nav ul {
    flex-direction: row;
    margin: 0;
  }
  main {
    width: 80%;
  }
  .page-section {
    flex-direction: row;
  }
  .section-label {
    text-align: end;
    font-size: 3.5vw;
    width: 20%;
    border-right: 3px solid var(--primary);
    padding-right: 10px;
    margin-bottom: 0;
  }
  .section-content {
    width: 77%;
  }
  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content {
    justify-content: space-between;
    width: 49%;
    margin-top: 6px;
    margin-bottom: 6px; 
  }
  #project-1 {
    flex: 0 0 100%;
    min-height: 300px;
  }
  #footer-nav {
    justify-content: space-evenly;
    margin-left: 20px;
  }
  #footer-nav ul li {
    margin: 10px 30px 0 30px;
  }
}

