* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  margin: auto;
}





/* ------------------ MAIN HEADER  ------------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary);
}
/* First Header Element - H1 */
header h1 {
  background-color: var(--secondary);
  color: var(--tertiary);
  min-width: 23%;
  text-align: end;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}
/* Second Header Element - NAV BAR */
nav {
  margin-right: 7%;
}
nav ul {
  display: flex;
  list-style: none;
}
/* header nav list - creates a hidden background accessible with hover */
nav ul li {
  margin: 0 10px;
  padding: 0 7px 2px 7px;
  border-bottom: 2px solid var(--secondary);
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
  transition: all 0.25s ease-in;
}
/* header li hover - background color change */
nav ul li:hover {
  background-size: 100% 100%;
}
/* header a element */
.header-link {
  color: var(--secondary);
  text-decoration: none;
}
/* header a hover - color change */
.header-link:hover {
  color: var(--primary);
}

/* Header Image */
.header-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  min-height: 150px;
  position: relative;
}
.header-image .layer {
  display: block;
  background-color: var(--color-background-layer);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-image h2 {
  position: absolute;
  background-color: var(--secondary);
  color: var(--tertiary);
  margin-right: 7%;
  padding: 7px;
}




/* ------------------ MAIN SECTION  ------------------ */

/* Section elements - About Me and Projects*/
.row {
  display: grid;
  grid-template-columns: 20% 1fr;
  max-width: 85%;
  margin: auto;
  margin-top: 30px;
}

/* h2 element for articles */
.label {
  font-size: 2.2em;
  text-align: end;
  border-right: 3px solid var(--primary);
  margin: 0;
  padding-right: 10px;
}

/* article element - About Me */
.about-me {
  margin-left: 20px;
}
.about-me p {
  margin-top: 0;
  font-size: 13px;
  line-height: 1.5;
}


/* article element - Projects */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 20px;
}
/* sets size of first project article to larger size and take full width of screen */
.projects .project-1 {
  grid-column: 1 / -1;
  min-height: 300px;
}
/* div elements - Project Cards */
.projects div {
  min-height: 150px;
  border: 3px solid var(--secondary);
}
.projects span {
  position: absolute;
  z-index: 1;
  background-color: var(--secondary);
  color: var(--tertiary);
  margin-top: 5%;
  padding: 7px;
}
.projects h2,
.projects p {
  margin: 0;
  padding-left: 10px;
}
.projects p {
  font-size: 0.85rem;
  margin-top: 6px;
}
.project-1 {
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
}
.project-2 {
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
}
.project-3 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
}
.project-4 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
}
.project-5 {
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
}



/* ------------------ FOOTER  ------------------ */
footer {
  margin-bottom: 20px;
}
.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
}
.footer-nav ul {
  list-style: none;
}
.footer-nav ul li {
  margin: 10px 20px 0 20px;
  padding: 0 7px 2px 7px;
  border-bottom: 3px solid var(--primary);
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
  transition: all 0.25s ease-in;
}
/* header li hover - background color change */
.footer-nav ul li:hover {
  color: var(--light);
  background-size: 100% 100%;
}

.footer-nav a {
  font-size: 1.1em;
  color: var(--primary);
  text-decoration: none;
}
.footer-nav a:hover {
  color: var(--light);
}




/* ------------------ LAYERS  ------------------ */
.layer {
  display: block;
  background-color: var(--color-background-layer);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* removes the layer when hovered over */
.projects .layer:hover {
  transition: .5s ease;
  opacity: 0;
}


/* ------------------ NAV TRANSITION  ------------------ */
